<footer class="footer">
  <div class="container">
    <small>
      A sample Rails app by Roger Parent
    </small>
    <nav>
      <ul>
	<li><%= link_to "About", about_path %></li>
	<li><%= link_to "Contact", contact_path %></li>
      </ul>
    </nav>
  </div>
</footer>
